*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Suisse Intl,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
nav{
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid;
    position: fixed;
    z-index: 100;
    /* background-color: rgba(222, 177, 222, 0.942); */
    background-image: linear-gradient(50deg,rgba(222, 177, 222, 0.942),#ffeac2);
    /* ffe7b8 */
}
.navMain{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}
.navMain a{
    cursor: pointer;
    text-decoration: none;
}
.navMain .logoOuterDiv{
    width: 15%;
}
.logoInner{
    width: 70%;
    margin: auto;
}
.navMain .navCategory{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.navCategory a{
    font-size: 23px;
    letter-spacing: 1px;
    color: rgb(38, 38, 38);
    font-weight: 600;
}

.navMain .searchBar{
    width: 56%;
    background-color: rgb(234, 234, 234);
    border: 1px solid rgb(9, 9, 9);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
    align-items: center;
    height: 100%;
}
.searchBar input{
    border: none;
    background: transparent;
    font-size: 18px;
    outline: none;
}
.searchBar button{
    border: none;
    cursor: pointer;
    font-size: 19px;
}
.navSignUp{
    display: flex;
    align-items: center;
    width: 7%;
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
}
.navSignUp button{
    cursor: pointer;
    font-size: 17px;
    padding: 7px;
    border-radius: 6px;
    font-weight: 700;
    color: white;
    background-color: rgba(27, 27, 27, 0.952);
}
.navSignUp button:hover{
    background-color: rgba(77, 77, 77, 0.989);
    transition: .7s;
}


/* Nav End */


/* Main Start */
main{
    background-image: linear-gradient(50deg,rgba(234, 201, 234, 0.942),#fceae1);
}
.banner{
    padding-top: 69px;
}
.banner img{
    width: 100%;
}

.fashionHighLight h3{
    transform: rotate(-90deg);
}
/* transform: rotate(-90deg); */