*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Suisse Intl,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
nav{
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid;
    position: fixed;
    z-index: 100;
    /* background-color: rgba(222, 177, 222, 0.942); */
    background-image: linear-gradient(50deg,rgba(255, 255, 255, 0.918),rgba(222, 184, 222, 0.942),#ffeac2ec,rgba(255, 255, 255, 0.934));
    /* ffe7b8 */
}
.navMain{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}
.navMain a{
    cursor: pointer;
    text-decoration: none;
}
.navMain .logoOuterDiv{
    width: 15%;
}
/* .logoInner{
    width: 70%;
    margin: auto;
} */
.navMain .navCategory{
    display: flex;
    width: 170px;
    justify-content: space-between;
}
/* .navMain .navCategory_1{
    width: %;
    display: flex;
    justify-content: space-between;
}
.navMain .navCategory_2{
    width: 8%;
    display: flex;
    justify-content: space-between;
} */
.navCategory a{
    font-size: 22px;
    letter-spacing: 1px;
    color: rgb(38, 38, 38);
    font-weight: 600;
}
.navMain .searchBar{
    width: 56%;
    background-color: rgb(234, 234, 234);
    border: 1px solid rgb(9, 9, 9);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
    align-items: center;
    height: 100%;
}
.searchBar input{
    border: none;
    background: transparent;
    font-size: 18px;
    outline: none;
}
.searchBar button{
    border: none;
    cursor: pointer;
    font-size: 19px;
}
.navSignUp{
    display: flex;
    align-items: center;
    width: 8%;
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
}
.navSignUp button{
    cursor: pointer;
    width: 100%;
    height: 38px;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 700;
    color: white;
    transition: .7s;
    /* background-color: rgba(20, 20, 20, 0.952); */
    background-color: #000;
}
.navSignUp button:hover{
    background-color: rgba(25, 25, 25, 0.92);
    transition: .7s;
    font-size: 20px;
    /* padding: 7px 16px; */
    width: 90%;
}
@media screen and (max-width:1010px) and (min-width:750px){
    .navMain .logoOuterDiv{
        width: 15%;
    }
    .navMain .navCategory{
        display: flex;
        width: 140px;
        justify-content: space-between;
    }
    .navMain .navCategory a{
        font-size: 19px;

    }
    .navMain .searchBar{
        width: 52%;
    }
    .navSignUp{
        margin-right: 8px;
        width: 8%;
    }
    .navSignUp button{
        font-size: 16px;
    }
}
/* Nav End */


/* Main Start */
main{
    background-image: linear-gradient(90deg,rgba(241, 216, 241, 0.942),#ffefe7);
    /* position: relative; */
}
/* .outSticky{
    margin-top: 120px;
    display: flex;
    width: 100%;
    position: fixed;
}
.frsticky{
    width: 14%;
    z-index: -1;
}
#sticky{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4%;
    height: 50px; 
    border-radius: 50%;
    background-color: cadetblue;
    transition: 0.7s;
    cursor: pointer;
    z-index: 101;
}
#sticky:hover{
    width: 60px;
    height: 60px;
    transition: .7s;
    transform: rotate(20deg);
} */
/* .ban{
    width: 100%;
    background-color: rgb(241, 241, 241);
} */
.banner{
    width: 100%;
    margin: auto;
} 
.banner img{
    padding-top: 69px;
    width: 100%;
    /* margin: auto; */
    border-bottom: 1px solid;
}
.fashionHighLight{
    /* width: 100%; */
    background-color: #fff;
}
.fashionHighLight_1{
    display: flex;
    width: 2020px;
}
.fashionHighLight_2{
    display: flex;
    width: 2020px;
}
.fashionHighLight_cards{
    /* width: 19.99%; */
    width: 400px;
    /* margin-right: 1px; */
    display: flex;
    border: 1px solid;
    cursor: pointer;
}
.fashionHighLight_text{
    width: 29%;
    display: flex;
    align-items: end;
    margin-bottom: 8px;
    justify-content: end;
}
.fashionHighLight_text h3{
    font-size: 1.2rem;
    width: 100%;
}
.fashionHighLight_cards img{
    width: 71%;
}
.fashionHighLight h3{
    transform: rotate(-90deg);
    letter-spacing: 1px;
}
/* transform: rotate(-90deg); */